<div class="ui floating dropdown icon button yellow cart" data-element="dropdown" data-type="module">
	<span class="text"><i class="shop icon"></i> View Cart</span>

	<div class="menu transition hidden">
		<div class="item">
			<div class="inner">
				<table class="ui table">
					<thead>
						<tr>
							<th>Product</th>
							<th>Quantity</th>
							<th>Price</th>
							<th></th>
						</tr>
					</thead>
					<tbody>
						<%= render "cart/items_rows" %>
					</tbody>
				</table>
			</div>
			<% if my_cart.any? %>
				<hr>
				<%= link_to "Checkout", checkout_path, class: "ui button green"  %>
			<% end %>
		</div>

	</div>
</div>