<% 	my_cart.each do |item,quantity| %>
	<tr id="item-<%= item %>">
		<td><%= product_name item %></td>
		<td><%= quantity %></td>
		<td><%= number_to_currency subtotal(item, quantity) %></td>
		<td>
			<%= link_to raw("<i class='minus icon'></i>"), remove_item_path(id: item), remote: true, class: "mini ui icon button teal", title: "Remove one", method: :delete if quantity > 1 %>
			<%= link_to raw("<i class='remove icon'></i>"), remove_item_path(id: item, complete: true), remote: true, class: "mini ui icon button red", title: "Remove product", method: :delete %>
		</td>
	</tr>
<% end %>
<tr>
	<td colspan="2"><b>TOTAL:</b></td>
	<td colspan="2"><b><%= number_to_currency sum_total %></b></td>
</tr>