<div class="title <%= 'active' if active %>">
	<i class="dropdown icon"></i>
	<%= order.purchased_at.strftime("%m/%d/%Y") %>: <em><%= number_to_currency order.total %></em>
</div>
<div class="content <%= 'active' if active %>">
	<b>Your order was  shipped to:</b>
	<dl>
		<dt><%= order.state %></dt>
		<dt><%= order.address %></dt>
		<dt><%= order.phone %></dt>
	</dl>
	<table class="ui table">
		<thead>
			<tr>
				<th>Product</th>
				<th>Quantity</th>
				<th>Price</th>
			</tr>
		</thead>
		<tbody>
			<% order.items.each do |item| %>
				<tr>
					<td><%= item.product.name %></td>
					<td><%= item.quantity %></td>
					<td><%= number_to_currency item.total_payed %></td>
				</tr>
			<% end %>
		</tbody>
	</table>
</div>