<h1>Please review the items you are about to purchase</h1>

<table class="ui table">
	<thead>
		<tr>
			<th>Product</th>
			<th>Quantity</th>
			<th>Price</th>
		</tr>
	</thead>
	<tbody>
		<% @order.items.each do |item| %>
			<tr>
				<td><%= item.product.name %></td>
				<td><%= item.quantity %></td>
				<td><%= number_to_currency(item.product.price * item.quantity)%></td>
			</tr>
		<% end %>
		<tr>
			<td colspan="2"><b>TOTAL:</b></td>
			<td><%= number_to_currency @order.total %></td>
		</tr>
	</tbody>
</table>

<% if @order.total <= current_user.credit %>
	<%= form_tag pay_order_path, method: :patch, class: "ui form" do %>
		<h4>Please confirm your shipping address and your payment method</h4>
		<div class="ui two column grid">
			<div class="column">
				<%= select_tag :state, options_for_select(CS.states(:us).values, current_user.state), class: "ui search dropdown", required: true %>
			</div>
			<div class="column">
				<%= text_field_tag :address, current_user.address, required: true %>
			</div>
			<div class="column">
				<%= text_field_tag :phone, current_user.phone, required: true %>
			</div>
			<div class="column">
				<%= select_tag :payment, options_for_select([["My credit #{number_to_currency current_user.credit}", 1]]), prompt: "Select Payment Method", class: "ui dropdown" %>
			</div>
			<div class="column">
				<%= button_tag raw("<i class='dollar icon'></i> Pay Now"), type: "submit", class: "ui icon button green"%>
			</div>
		</div>
	<% end %>
<% else %>
	<h4>You don't have enough credits to make this purchase!</h4>
	<%= render "welcome/redeem" %>
<% end %>


