<h1>These are your past orders</h1>
<div class="ui two column grid">
	<div class="column"> 
		<h3>Recent Order</h3>
		<div class="ui styled accordion">
			<%= render "cart/order", order: @recent_order, active: true %>
		</div>
	</div>
	<div class="column">
		<h3>Past Orders</h3>
		<div class="ui styled accordion">
			<% @orders.each do |order| %>
				<%= render "cart/order", order: order, active: false %>
			<% end %>
		</div>
	</div>
</div>