<div class="ui container">
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: {class: "ui form"}) do |f| %>
    <h2>Welcome to Clmtx WebStore</h2>

    <%= devise_error_messages! %>
    <div class="ui grid">
      <div class="sixteen wide column">
        <%= f.label :fullname, "Full Name" %>
        <%= f.text_field :fullname, autofocus: true, required: true %>
      </div>
      <div class="four wide column">
        <%= f.label :state %>
        <%= f.select :state, options_for_select(CS.states(:us).values), {}, class: "ui search dropdown", required: true %>
      </div>
      <div class="four wide column">
        <%= f.label :address %>
        <%= f.text_field :address, required: true %>
      </div>
      <div class="four wide column">
        <%= f.label :phone %>
        <%= f.text_field :phone %>
      </div>
      <div class="four wide column">
        <%= f.label :email %>
        <%= f.email_field :email, required: true %>
      </div>

      <div class="eight wide column">
        <%= f.label :password %>
        <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %> characters minimum)</em>
        <% end %><br />
        <%= f.password_field :password, autocomplete: "off", required: true %>
      </div>

      <div class="eight wide column">
        <%= f.label :password_confirmation %>
        <%= f.password_field :password_confirmation, autocomplete: "off", required: true %>
      </div>

      <div class="sixteen wide column">
        <%= f.submit "Sign up", class: "ui button green" %>
      </div>
    </div>  
  <% end %>
  <hr>
  <%= render "devise/shared/links" %>
</div>
