<% if current_user.bonus_given %>
	<p>You currently have <%= number_to_currency current_user.credit %></p>
<% else %>
	<p>It looks like you are a new user. You can redeem some credits as a reward.</p>
	<%= link_to raw("<i class='dollar icon'></i>Redeem my credit"), redeem_credit_path, method: :patch, class: "ui button blue" %>
<% end %>