<div id="products" class="row list-group">
	<% @products.each do |product| %>
    <div class="item  col-xs-4 col-lg-4">
        <div class="thumbnail">
            <img class="group list-group-image" src="http://placehold.it/400x250/000/fff" alt="" />
            <div class="caption">
                <h4 class="group inner list-group-item-heading"><%= product.name %></h4>
                    <p class="group inner list-group-item-text">
                        <%= product.brand %>
                    </p>
                    <small> <%= product.model %> </small>
                    <div class="row">
                        <div class="col-xs-12 col-md-6">
                            <p class="lead"><%= number_to_currency product.price %></p>
                        </div>
                    <div class="col-xs-12 col-md-6">
                        <%= link_to product, remote: true, title: "View more", class: "ui button teal" do %>
                            <i class="info circle icon"></i>View Item
                        <% end %>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <% end %>
    <% unless @products.any? %>
		<h4>No results found</h4>
	<% end %>
</div>
