<div class="modal-dialog">
	<div class="modal-content">
		<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="text-danger fa fa-times"></i></button>
				<h4 class="modal-title" id="myModalLabel"><i class="text-muted fa fa-shopping-cart"></i> <strong><%= @product.sku %></strong> - <%= @product.name %> </h4>
		</div>
		<div class="modal-body">
				<table class="pull-left col-md-8 ">
					<tbody>
							<tr>
								<td class="h6"><strong>SKU</strong></td>
								<td> </td>
								<td class="h5"><b><%= @product.sku %></b></td>
							</tr>
							<tr>
								<td class="h6"><strong>Brand</strong></td>
								<td> </td>
								<td class="h5"><%= @product.brand %></td>
							</tr>
							<tr>
								<td class="h6"><strong>Model</strong></td>
								<td> </td>
								<td class="h5"><%= @product.model %></td>
							</tr>
							<tr>
								<td class="h6"><strong>Description</strong></td>
								<td> </td>
								<td class="h5"><%= @product.desc %></td>
							</tr>
							<tr>
								<td class="h6"><strong>Product Name</strong></td>
								<td> </td>
								<td class="h5"><%= @product.name %></td>
							</tr>
							<tr>
								<td class="h6"><strong>Price</strong></td>
								<td> </td>
								<td class="h5"><%= number_to_currency @product.price %></td>
							</tr>
					</tbody>
				</table>
				<div class="col-md-4"> 
					<img src="/image.png" class="img-responsive img-thumbnail">  
				</div>
				<div class="clearfix"></div>
				<p class="open_info hide"><%= @product.desc %></p>
		</div>
		<div class="modal-footer">
				<div class="text-right pull-right col-md-3">
					<%= link_to raw("<i class='add to cart icon'></i> Add to cart"), add_item_path(id: @product.id), remote: true, method: :post, class: "btn btn-success" %>
				</div>
		</div>
	</div>
</div>
