	
<div class="ui stackable grid">
	<div class="sixteen wide column">
		<h1>Products list</h1>
	</div>
	<%= form_tag products_path, class: "ui form sixteen wide column", method: :get do %>
		<div class="ui stackable grid">
			<div class="five wide column"><%= text_field_tag :term, params[:term], placeholder: "Search by term" %></div>
			<div class="three wide column"><%= select_tag :brand, options_for_select(Product.opts(:brand), (params[:brand] or "All")), class: "ui fluid search dropdown" %></div>
			<div class="three wide column"><%= number_field_tag :price_from, params[:price_from], placeholder: "Prices from", min: 0, step: 0.01 %></div>
			<div class="three wide column"><%= number_field_tag :price_to, params[:price_to], placeholder: "Prices to", min: 0, step: 0.01 %></div>
			<div class="two wide column"><%= button_tag raw("<i class='search icon'></i> Search"), type: "submit", class: "ui icon button green" %></div>
		</div>
	<% end %>
</div>
<%= render "products/list", locals: {products: @products} %>
<hr>
<%= link_to "Go Top", '#', class: "ui button gotop" %>