jQuery( document ).ready(function() {
    jQuery('#myModal').html("<%= j render 'products/show' %>");
    jQuery('.ui.button.teal').on('click',function(){
        jQuery('#myModal').modal('show');
    });
});
