<ul class="nav nav-pills">
	<li role="presentation" class="<%= "item #{'active' if home?}" %> ">
		<%= link_to raw(" <i class='home icon'></i>Home"), root_url, class: "item #{'active' if home?}" %>
	</li>
	<li role="presentation" class="<%= "item #{'active' if products?}" %>">
		<%= link_to raw(" <i class='gamepad icon'></i>Products"), products_path, class: "item #{'active' if products?}" %>
	</li>
	<% if user_signed_in? %>
 		<li role="presentation" class="<%= "item #{'active' if !home? && !products?}" %>">
			<i class="dollar icon"></i><%= number_to_currency current_user.credit %>
		</li>
 		<li role="presentation">
		 	<%= link_to raw("<i class='calendar icon'></i>My past orders"), past_orders_path, class: "item #{'active' if past_orders?}" %>
		</li>
		<li role="presentation">
 			<%= link_to raw("<i class='sign out icon'></i>Sign Out"), destroy_user_session_path, method: :delete, class: "item" %>
		</li>
 		<% else %>
 			<li role="presentation">
			 	<%= link_to raw("<i class='sign in icon'></i>Sign In"), new_user_session_path, class: "item" %>
			</li>
 		<% end %>
</ul>